//colors
$text-color-primary: #000E29;
$text-color-link: #003cb3;
$text-color-link-visited: #7b00ab;

$background-color-primary: #f8f8f6;
$background-color-secondary: #f3f3f1; //e.g. footer
$background-color-tertiary: #ececeb; //e.g. nav
$background-color-tertiary-hover: #dadada;
$background-color-accent: #a3b69f;

$shadow-color: #000e293d;

//sizes
$h1-size: 2.5rem;
$subheading-size: 1.5rem;
$h2-size: 1.5rem;
$h3-size: 1rem;
$p-size: 1rem;

//fonts
$h1-font: "Trajan-Sans-Pro", sans-serif;
$subheading-font: "Trajan-Sans-Pro", sans-serif;
$h2-font: "Trajan-Sans-Pro", sans-serif;
$h3-font: "Trajan-Sans-Pro", sans-serif;
$p-font: "Fairplex-wide", sans-serif;